@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --link-color: #34748e;
  --active: #7b7077;
  --greyed: #aca4a9;
  --purple: #df72b7;
  --slate-blue: #7d53de;
  --ocean-green: #59c9a5;
  --fire-opal: #db5a42;
}

h1 {
  font-size: 3em;
}

:not(div) > a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 2px dotted var(--link-color);
  transition: filter 250ms;
  margin: 2px;
}

:not(div) > a:hover {
  filter: brightness(50%);
}
